<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    
    <body>
        <h1 id="titulo">
            Pagina Web Django
        </h1>
        <nav id="barra">
            <ul>
                <li>
                    <a href="/saludar">Hola</a>
                </li>
                <li>
                    <a href="/despedir">Adios</a>
                </li>
                <li>
                    <a href="/darFecha">Fecha</a>
                </li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        <p style="text-align: center"> Gracias por su visita </p>
    </body>
</html>


<style>
    #barra{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        text-align: center;
        background-color: aliceblue;
    }

    #barra li{
        display: inline;
        margin: 0 30px;
    }

    #titulo{
        text-align: center;
        color: blue;
    }
</style>