{% extends "base.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <h1 style="color: blue">
        Hola {{ nombre }} {{ apellido }} son las {{ horaActual }} de {{ fechaActual }}
    </h1>
    <p> <strong>
            Los temas son:
        </strong>
    </p>
    <p>
        <ul>
            {% if temas %}
                {% for tema in temas %}
                    <li>
                        {{ tema }}
                    </li>
                {% endfor %}
            {% else %}
                <p> No hay elementos </p>
            {% endif %}
        </ul>
    </p>
{% endblock %}